@inherits LayoutComponentBase

<div class="page">
    <div class="">
    </div>

    <main>
        <NavMenu></NavMenu>
        <article class="mx-4">
            @Body
        </article>
    </main>
</div>
